#This .env file is just an example. Nothing here is real.
#Also, please don't add example before .env
#Comments with * means the variables following it is optional.

#Reddit APP ID/Secret + User Login Detail
APPID=xxxxxxxxxxx
APPSECRET=aaaaaaa-bbbbbbb
RPW=myredditpassword
RUSER=North-west_Wind

#MySQL Database
#I recommend freedb.tech if you don't have one
DBHOST=freedb.tech
DBNAME=databasename
DBPW=databasepassword
DBUSER=databaseusername

#Just my Discord ID. Replace this with yours.
DC=416227242264363008

#GFYCat API ID/Secret (Used for NSFW command "porn")
GFYID=notaid
GFYSECRET=getyourownsecretbyregisteringtheapiongfycat

#Oxford API ID/Secret for (Oxford) Dictionary
OXID=youcangetthisatoxforddictionary
OXSECRET=itisfreefor1000usespermonth

#Spotify API ID/Secret/(Refresh) Token
SPOTID=spotifyappid
SPOTSECRET=https://developer.spotify.com/documentation/web-api/

#Timer list info for another bot in the same code
TIME_LIST_CHANNEL=743386886562775103
TIME_LIST_ID=743387484435644447

#Token for the bot
#0 is N0rthWestW1nd
#1 is ALICE
#Canary is just the beta version of the bot. Please don't use it
TOKEN0=yourtoken
TOKEN1=leaveblankifyoudontwanttoseeerrors
TOKEN_CANARY=canarytoken

#The directory to cache soundtracks
CACHE_DIR=/home/pi/.bot-track-cache